---
import '@tailwind'
import LayoutFrame from '../components/LayoutFrame.astro'
import ThemeToggle from '../components/ThemeToggle.astro'
import PropsTable from '../components/PropsTable.astro'
import { layouts, components } from '../utils/AsyncImportDemo.js'

function formatList(globObj: Record<string, () => Promise<unknown>>) {
  const entries = Object.entries(globObj)
  return Promise.all(
    entries.map(async ([path, promise]: [string, any]) => {
      const component = await promise()
      return {
        path: path,
        name: path.split('/').at(-1)?.split('.')[0],
        Component: component.default,
        id: component.id,
        props: component.props,
        slots: component.slots,
        category: component.category,
        keywords: component.keywords,
      }
    })
  )
}

const list = [
  { title: 'Components', items: await formatList(components) },
  { title: 'Layouts', items: await formatList(layouts) },
]
---

<!-- ruler看看能不能移到docs的components --><!-- [name].astro的Component可以用傳的 -->
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" />
    <link rel="stylesheet" href="/src/style/main.css" />
    <title>組件目錄</title>
  </head>
  <body class="dark">
    <div class="ykfk flex w-full h-full text-lg text-[var(--text-main-1)] bg-[var(--bg-main-1)]">
      <aside class="relative z-2 w-64 h-full shrink-0 bg-[var(--bg-main-2)]">
        <nav class="w-full h-full overflow-y-auto">
          {
            list.map((group) => (
              <ul>
                <li>
                  <h1>{group.title}</h1>
                  <ul>
                    {group.items.map(({ name }) => (
                      <li>{name}</li>
                    ))}
                  </ul>
                </li>
              </ul>
            ))
          }
        </nav>
      </aside>
      <main class="relative z-1 flex flex-col w-0 h-full flex-1">
        <header class="sticky flex px-8 items-center top-0 z-2 w-full h-16 bg-[var(--bg-main-3)]">
          <h1 class="absolute -z-1 inset-0 flex items-center justify-center font-bold text-center text-2xl">組件目錄</h1>
          <ThemeToggle />
        </header>
        <div class="relative z-1 w-full h-full px-[5%] overflow-x-hidden overflow-y-auto">
          <div class="w-full">
            {
              list.map((group) => (
                <article>
                  <h2 class="font-bold my-15 text-5xl">{group.title}</h2>
                  {group.items.map(({ path, name, Component, props, slots, category, keywords }) => (
                    <section class="mt-10">
                      <h3 class="font-bold text-4xl">{name}</h3>
                      <small class="inline-block mt-4 px-3.5 py-0.5 text-sm italic rounded-lg bg-[var(--bg-elevated-4)]">{path}</small>
                      {group.title === 'Layouts' ? (
                        <LayoutFrame class="mt-10" name={name ?? ''} mobile={props['mobile']['type']} />
                      ) : (
                        <div class="mt-10">
                          <Component />
                        </div>
                      )}
                      <PropsTable props={props} />
                    </section>
                  ))}
                </article>
              ))
            }
          </div>
        </div>
      </main>
    </div>
  </body>
</html>

<script></script>

<style></style>
